name: Build AAB

on:
  workflow_dispatch:

  jobs:
    build:
        runs-on: bybuntu-latest

            steps:
                  - name: Checkout
                          uses: actions/checkout@v4

                                - name: Set up JDK
                                        uses: actions/setup-java@v4
                                                with:
                                                          distribution: temurin
                                                                    java-version: 17

                                                                          - name: Decode keystore
                                                                                  run: |
                                                                                            echo "$ANDROID_KEYSTORE_BASE64" | base64 --decode > new-upload-key.jks

                                                                                                  - name: Build Android Release
                                                                                                          run: |
                                                                                                                    cd android
                                                                                                                              ./gradlew bundleRelease

                                                                                                                                    - name: Upload AAB
                                                                                                                                            uses: actions/upload-artifact@v4
                                                                                                                                                    with:
                                                                                                                                                              name: app-release
                                                                                                                                                                        path: android/app/build/outputs/bundle/release/app-release.aab